{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}

<div id="search-bar">
        <input type="text" id="search-input" placeholder="Rechercher des films">
        <ul id="search-results"></ul>
    </div>


    {# <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Description</th>
                <th>Themes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.icon }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.themes }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('app_movie_new') }}">Create new</a>

    <script>
        // Votre JavaScript pour la barre de recherche
        // Utilisez jQuery pour simplifier les requêtes Ajax
        $(document).ready(function() {
            var searchInput = $('#search-input');
            var searchResults = $('#search-results');

            searchInput.on('input', function() {
                // Récupérez la valeur de la recherche
                var query = searchInput.val();

                // Envoyez une requête au serveur Symfony via Ajax
                $.ajax({
                     url: '{{ path('app_movie_search') }}',
                    method: 'GET',
                    data: { query: query },
                    dataType: 'json',
                    success: function(data) {
                        // Mettez à jour les résultats de la recherche dans l'interface utilisateur
                        // Vous pouvez personnaliser cela en fonction de la structure des résultats de votre recherche
                        searchResults.empty();
                        data.results.forEach(function(result) {
                            searchResults.append('<li>' + result.name + '</li>');
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
